In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r'D:\Final submission\PowerBI\Digital-marketing\Dataset\data1.csv',sep=';')

In [5]:
df.head()

,account length,location code,user id,credit card info save,push status,add to wishlist,desktop sessions,app sessions,desktop transactions,total product detail views,session duration,promotion clicks,avg order value,sale product views,discount rate per visited products,product detail view per app session,app transactions,add to cart per session,customer service calls,churn
0,128,415,3824657,no,yes,25,265,45,17,110,197,87,"244,7",91,"11,01",10,3,"2,7",1,0
1,107,415,3717191,no,yes,26,162,27,17,123,196,103,"254,4",103,"11,45","13,7",3,"3,7",1,0
2,137,415,3581921,no,no,0,243,41,10,114,121,110,"162,6",104,"7,32","12,2",5,"3,29",0,0
3,84,408,3759999,yes,no,0,299,51,5,71,62,88,"196,9",89,"8,86","6,6",7,"1,78",2,0
4,75,415,3306626,yes,no,0,167,28,13,113,148,122,"186,9",121,"8,41","10,1",3,"2,73",3,0

Let's identify the required columns on which the analysis are to be done:
1. location code : Location of country
2. user id : unique ID
3. credit card info save : check for the information saved or not
4. add to wishlist : product added to wishlist
5. desktop sessions : in hours
6. app sessions : in hours
7. desktop transactions : transaction done from desktop
8. promotion clicks : count of click
9. sale product views : sales product view
10. app transactions : app transaction
11. customer service calls : call to customer care
12. churn:  the rate at which customers stop doing business with a company over a given period of time. Churn may also apply to the number of subscribers who cancel or don't renew a subscription. The higher your churn rate, the more customers stop buying from your business.

In [6]:
df.columns

Index(['account length', 'location code', 'user id', 'credit card info save',
       'push status', 'add to wishlist', 'desktop sessions', 'app sessions',
       'desktop transactions', 'total product detail views',
       'session duration', 'promotion clicks', 'avg order value',
       'sale product views', 'discount rate per visited products',
       'product detail view per app session', 'app transactions',
       'add to cart per session', 'customer service calls', 'churn'],
      dtype='object')

In [10]:
df['location code'].value_counts()

US       1655
India     840
UAE       838
Name: location code, dtype: int64

In [9]:
df['location code'] = df['location code'].map({415:'US',510:'India',408:'UAE'})

In [11]:
df.isnull().sum()

account length                         0
location code                          0
user id                                0
credit card info save                  0
push status                            0
add to wishlist                        0
desktop sessions                       0
app sessions                           0
desktop transactions                   0
total product detail views             0
session duration                       0
promotion clicks                       0
avg order value                        0
sale product views                     0
discount rate per visited products     0
product detail view per app session    0
app transactions                       0
add to cart per session                0
customer service calls                 0
churn                                  0
dtype: int64

In [12]:
df['churn'].value_counts()

0    2850
1     483
Name: churn, dtype: int64

In [13]:
df['churn'] = df['churn'].map({0:'Yes',1:'No'})

In [14]:
df.head()

,account length,location code,user id,credit card info save,push status,add to wishlist,desktop sessions,app sessions,desktop transactions,total product detail views,session duration,promotion clicks,avg order value,sale product views,discount rate per visited products,product detail view per app session,app transactions,add to cart per session,customer service calls,churn
0,128,US,3824657,no,yes,25,265,45,17,110,197,87,"244,7",91,"11,01",10,3,"2,7",1,Yes
1,107,US,3717191,no,yes,26,162,27,17,123,196,103,"254,4",103,"11,45","13,7",3,"3,7",1,Yes
2,137,US,3581921,no,no,0,243,41,10,114,121,110,"162,6",104,"7,32","12,2",5,"3,29",0,Yes
3,84,UAE,3759999,yes,no,0,299,51,5,71,62,88,"196,9",89,"8,86","6,6",7,"1,78",2,Yes
4,75,US,3306626,yes,no,0,167,28,13,113,148,122,"186,9",121,"8,41","10,1",3,"2,73",3,Yes

In [17]:
df['add to cart per session'].dtype

dtype('O')

Let's select only the required columns for creating a dashboard

In [18]:
final_df=df[['location code','user id','credit card info save','add to wishlist',
             'desktop sessions','app sessions','desktop transactions','promotion clicks',
             'sale product views','app transactions','customer service calls','churn']]

In [19]:
final_df.head()

,location code,user id,credit card info save,add to wishlist,desktop sessions,app sessions,desktop transactions,promotion clicks,sale product views,app transactions,customer service calls,churn
0,US,3824657,no,25,265,45,17,87,91,3,1,Yes
1,US,3717191,no,26,162,27,17,103,103,3,1,Yes
2,US,3581921,no,0,243,41,10,110,104,5,0,Yes
3,UAE,3759999,yes,0,299,51,5,88,89,7,2,Yes
4,US,3306626,yes,0,167,28,13,122,121,3,3,Yes

In [20]:
final_df.to_csv('digital_market.csv')